<div class="navbar bg-neutral text-neutral-content">
    <div class="flex-1">
      <a routerLink="/" class="btn btn-ghost text-xl">Bright Coding</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="nav-active" routerLink="/home" >Home</a></li>
        <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="nav-active" routerLink="/blog/list" >Blog</a></li>
        @if (authService.isAuthenticated()) {
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="nav-active" routerLink="/todos">Master</a></li>
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="nav-active" routerLink="/competitions">Competition</a></li>
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="nav-active" routerLink="/elearning">Hunt</a></li>
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="nav-active" routerLink="/counter">Participation</a></li>
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="nav-active" routerLink="/users">Users</a></li>
        }
      </ul>
      @if (authService.isAuthenticated()) {
        <div class="dropdown dropdown-end">
          <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
            <div class="w-10 rounded-full">
              <img
                alt="Tailwind CSS Navbar component"
                [src]="authService.getUser()?.username" />
            </div>
          </div>
          <ul
            tabindex="0"
            class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
            <li>
              <a class="justify-between">
                {{authService.getUser()?.username}}
              </a>
            </li>
            <li><a>Settings</a></li>
            <li><button (click)="authService.logout()" class="btn btn-ghost no-animation btn-sm">Logout</button></li>
          </ul>
        </div>
      }@else {
        <li><a routerLink="auth/login">Login</a></li>
      }
    </div>
  </div>